* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cold {
  background-image: url("./Images/cold-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.input {
  background-color: rgba(256, 256, 256, 0.6);
  color: rgba(0, 0, 0, 0.85) !important;
}
.input:focus {
  outline: none !important;
  outline-width: 0 !important;
  background-color: rgba(256, 256, 256, 0.75);
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.card-text {
  letter-spacing: 1px !important;
}
